@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Index.css" />

<div id="MainContainer">
    <div class="OurClass container-fluid">

        <div class="row">


            <div class="offset-1 col-6 FirstColumn">
                <img src="https://i.pinimg.com/originals/4e/64/7a/4e647abd2f8c16af867ad64a5cc0b04c.jpg"
                     class="rounded-circle" width="100" height="100" />
            </div>


            <div class="col-4 SecondColumn">
                <span>Moises Golez</span>
                <button class="GramButtons">Follow</button>
                <div>
                    <span class="FontBold">6</span>
                    <span>Posts</span>
                    <span class="FontBold">No</span>
                    <span>Followers</span>
                    <span class="FontBold">0</span>
                    <span>Following</span>
                </div>
                <div>
                    <span>This is an example description</span>
                </div>
            </div>
            <div class="offset-1 align-self-center col-3 ThirdColumn">
                <img src="https://cdn.cnn.com/cnnnext/dam/assets/200713132223-delta-airlines-0403-full-169.jpg"
                     class="rounded-circle" width="50" height="50" />
                <span>My Airline</span>
            </div>
            <div class="align-self-center col-3 FourthColumn">
                <img src="https://i0.wp.com/softwareengineeringdaily.com/wp-content/uploads/2019/09/delta-airlines-750x437.jpg?resize=730%2C389&ssl=1"
                     class="rounded-circle" width="50" height="50" />

                <span>Keep Climbing</span>
            </div>

        </div>

    </div>
    <div id="Options">
        <table id="OptionsTable">
            <tbody>
                <tr>
                    <td>
                        <span>POSTS</span>
                    </td>
                    <td>
                        <span>REELS</span>
                    </td>
                    <td>
                        <span>IGTV</span>
                    </td>
                    <td>
                        <span>TAGGED</span>
                    </td>

                    <td>
                        <a href="/Home/CalendarView"><span>View By Calendar</span></a>


                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div id="MainImagesContainer">
        <table id="MainImages">
            <tbody>
                <tr>
                    <td>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyqdFdpm5Ss2w9Wl6Y2EScnzWG-EIcyXA1fQ&usqp=CAU" />
                    </td>
                    <td>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6FWS8ObB4flcwvaKrejU1oDdYcX-09o3WDw&usqp=CAU" />
                    </td>
                    <td>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjuruhr3NO1A9AZh3dZsROe0g71mCxDgdqyw&usqp=CAU" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <img src="https://cdn.pixabay.com/photo/2012/04/12/23/52/germany-31017__340.png" />
                    </td>
                    <td>
                        <img src="https://wallpapercave.com/wp/wp3281804.jpg" />
                    </td>
                    <td>
                        <iframe width="200" height="200" src="https://www.youtube.com/embed/FObcHFtRNJM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</div>


