<form>

    <table>

        <tbody>

            <tr>
                <td>

                    <h5>User Personal Information</h5>
                </td>

            </tr>
            <tr>
                <td>

                    <label for="FirstName">First Name:</label>

                </td>


                <td>

                    <input id="FirstName" name="FirstName"
                           type="text" value="Input your first name here"
                           size="18" maxlength="18"
                           placeholder="Input your first name here" autofocus />

                    <label for="LastName">Last Name:</label>

                    <input id="LastName" name="LastName"
                           type="text" value="Input your last name here"
                           size="18" maxlength="18"
                           placeholder="Input your last name here" autofocus />

                </td>

            </tr>

            <tr>
                <td>

                    <label for="User">User:</label>

                </td>


                <td>

                    <input id="User" name="User"
                           type="text" value="Input your user here"
                           size="18" maxlength="18"
                           placeholder="Input your user here" autofocus />

                    <label for="Password">Password:</label>

                    <input id="Password" name="Password"
                           type="text" value="Input your Password here"
                           size="18" maxlength="18"
                           placeholder="Input your Password here" autofocus />

                </td>

            </tr>

            <tr>

                <td>

                    <label>Gender:</label>



                </td>

                <td colspan="3">

                    <input type="radio" id="MaleGender" name="gender" />

                    <label for="MaleGender">Male</label>



                    <input type="radio" id="FemaleGender" name="gender" />

                    <label for="FemaleGender">Female</label>



                    <input type="radio" id="NoResponseGender" name="gender" />

                    <label for="NoResponseGender">Prefer not to respond</label>

                </td>
            
           
            <tr>
                <td>


                    <label for="country">Country of Residence:</label>

                </td>
                <td colspan="1">


                    <select id="countries" name="countries">


                        <option value="United States">USA</option>

                    </select>
                </td>



            </tr>
            
            <tr>

                <td colspan="3">

                    <a class="GramButtons">Update User Information</a>
                </td>

            </tr>
        </tbody>







    </table>







</form> 