:root {
    --imageWidthHeight: 180px;
    --imageWidthHeightMainImages: 100px;
}


#MainContainer {
    width: 100%;
}

#MainProfileInformation {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

#MainProfileInformation img {
        width: var(--imageWidthHeight);
        height: var(--imageWidthHeight);
        border-color: black;
        border-style: solid;
        border-width: 1px;
        border-radius: 50%;
    }

.GramButtons {
    background-color: dodgerblue;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

.FontBold {
    font-weight: bold;
}

#SectionsTable {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

#Options {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

#OptionsTable {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

#Sections img {
    width: var(--imageWidthHeightMainImages);
    height: var(--imageWidthHeightMainImages);
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
}

#MainImagesContainer {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

#MainImages img {
    width: 200px;
    height: 200px;
}

#Header {
    color: var(--tableHeaderBgColor);
}

@media only screen and (max-width: 480px){
    .HeaderClass {
        background-color: var(--tableHeaderBgColor);
        color: var(--tableHeaderFontColor);
        font-size: var(--tableFontSize);
    }

    .SectionsClass {
        grid-template-columns: auto;
    }
}

@media only screen and (min-width: 481px) {
    .HeaderClass {
        background-color: var(--tableHeaderBgColorBig);
        color: var(--tableHeaderFontColorBig);
        font-size: var(--tableFontSizeBig);
    }

    .SectionsClass {
        grid-template-columns: auto auto auto;
    }
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.first-day {
    grid-column-start: 3;
}